Source: henplus
Maintainer: Piotr Roszatycki <dexter@debian.org>
Section: utils
Priority: optional
Standards-Version: 3.8.0
Build-Depends: java-gcj-compat-dev, ant, libreadline-java (>= 0.8.0), libcommons-cli-java (>= 1.0), yada (>= 0.54)
Homepage: http://henplus.sourceforge.net/
Vcs-Browser: http://svn.debian.org/wsvn/cvsdebuild/trunk/debian/dists/henplus/
Vcs-Svn: svn://svn.debian.org/cvsdebuild/trunk/debian/dists/henplus

Package: henplus
Architecture: all
Depends: kaffe | java-virtual-machine, kaffe | java1-runtime | java2-runtime, libreadline-java (>= 0.8.0), libcommons-cli-java (>= 1.0)
Description: JDBC SQL commandline frontend with TAB-completion
 HenPlus is an SQL shell written in Java that works for any database that
 has JDBC support. It provides commandline history, commandline completion,
 and can handle multiple connects to different databases at once.
 Database-independent table dumps, aliases, and variables are also supported.
