#!/usr/bin/make -f
JAVA_HOME:=/usr/lib/jvm/default-java
DEBIANDIR:=$(dir $(realpath $(firstword $(MAKEFILE_LIST))))
SOURCEPKG_NAME:=$(shell dpkg-parsechangelog --file $(DEBIANDIR)changelog|grep ^Source|cut -d\  -f2)
UPSTREAM_VERSION:=$(shell dpkg-parsechangelog --file $(DEBIANDIR)changelog|grep ^Version|cut -d\  -f2|cut -d- -f1)

%:
	dh $@ --with javahelper

override_dh_auto_build:
	dh_auto_build -- jar

override_dh_install:
	dh_testdir
	dh_testroot
	dh_prep
	ant install -DDESTDIR=./debian/henplus
	dh_installdirs

override_dh_installdocs:
	dh_testdir
	mkdir -p ./debian/henplus/usr/share/doc/henplus/
	cp README.md ./debian/henplus/usr/share/doc/henplus/README
	cp debian/copyright ./debian/henplus/usr/share/doc/henplus/copyright

# this is ... unorthodox: it assumes a full local repository clone
# however, since this ./debian is in-tree in the source, it would be utterly
# pointless to download something again rather than keep using the existing checkout.
get-orig-source:
	git -C $(DEBIANDIR).. archive --prefix=$(SOURCEPKG_NAME)-$(UPSTREAM_VERSION)/ HEAD| \
		xz > $(SOURCEPKG_NAME)_$(UPSTREAM_VERSION).orig.tar.xz
